.navbar {
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: rgb(21, 255, 0);
    color: rgb(20, 2, 2);
  }
  
  .Navbar .leftSide {
    flex: 50%;
    height: 80%;
    display: flex;
    align-items: left;
    padding-left: 150px;
  }
  
  .Navbar .leftSide img {
    width: 30px;
  }
  
  .Navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Navbar a {
    color: rgb(20, 2, 2);
    text-decoration: none;
    margin: 20px;
  }